<section class="container">
    <aside class="widget">
        <div class="widgetBanner">
            <div class="imageProfile">
                <div class="image">
                </div>
            </div>
        </div>
        <div class="widgetContent">
            <div class="widgetInfo">
                <div class="name">
                    <div class="title">
                        José Ramón Roblero Ruiz
                    </div>
                    <small>
                            Ingenieria en TIC
                        </small>
                </div>
                <ul class="line">
                    <li>
                        <hr style="width: 100%" />
                    </li>
                </ul>
                <ul class="list-info">
                    <li>
                        <div class="title">
                            Sobre mi
                        </div>
                        <ul>
                            <li>
                                Desarrollador de software web con 5 años de experiencia, responsable, honesto y creativo
                            </li>
                        </ul>
                        <div class="title">
                            Contacto
                        </div>
                        <ul>
                            <li>
                                Nacimiento: 19 de marzo de 1989 Chiapas, México
                            </li>
                            <li>
                                Domicilio actual: Cd. México, México
                            </li>
                            <li>
                                Telefono: 5513363793 / 5518639468
                            </li>
                            <li>
                                Email: jramon.roblero@gmail.com
                            </li>
                        </ul>
                        <ul class="social">
                            <li>
                                <i class="fab fa-linkedin"></i> <span>/jramon-roblero</span>
                            </li>
                            <li>
                                <i class="fab fa-github"></i> <span>/jramon89</span>
                            </li>
                            <li>
                                <i class="fab fa-twitter"></i> <span>@joserdev</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">
                            Educación
                        </div>
                        <ul>
                            <li>
                                Inegenieria en Tecnologías de la Información / Chiapas, México
                            </li>
                        </ul>
                        <ul>
                            <li>
                                Ingenieria Tecnica en Seguridad en Redes y Software Libre / Chiapas, México
                            </li>
                        </ul>
                        <ul>
                            <li>
                                TSU en Redes y Telecomunicaciones / Chiapas, México
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <aricle class="article">
        <div class="articleContent">
            <div class="banner">
                <div class="icons">
                    <div class="icon icon-print">
                        <i class="fas fa-print" onclick="JavaScrit:window.print()"></i>
                    </div>
                    <div class="icon icon-lang">
                        <i class="fas fa-toggle-on" onclick="switchLang()"></i>
                    </div>
                    <div class="lang">
                        <span>EN</span>
                    </div>
                    <div class="icon">
                        <input type="color" name="color" value="#5f9ea0" onchange="setColor()">
                    </div>
                </div>
                <!--<div>
                        José Ramón Roblero Ruiz
                    </div>
                    <small>
                        <i>
                            Ingeniero
                        </i>
                    </small>-->
            </div>
            <div class="experience">
                <ul>
                    <li>
                        <div class="main-title">
                            Experiencia laboral
                        </div>
                        <ul class="list">
                            <li>
                                Web UI Developer, Globant Company, Cd. México, México, 2015 a la actualidad
                            </li>
                            <li>
                                Front End Developer, Planet Media, Cd. México, México, 2013 a 2015
                            </li>
                            <li>
                                PHP Developer, LMS (Loyalty Marketing, Services), Cd. México, México, 2013 a 2014
                            </li>
                            <li>
                                Instructor de Computación, Chiapas, México, 2012 a 2013
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="main-title">
                            Conocimientos Generales
                        </div>
                        <ul>
                            <li>
                                <div class="sub-title">
                                    Desarrollo de software
                                </div>
                                <ul>
                                    <li>
                                        <div class="title">
                                            FrontEnd
                                        </div>
                                        <ul class="list">
                                            <li>
                                                HTML, HTML5 (Semantic, APIs)
                                            </li>
                                            <li>
                                                CSS, CSS3, (Responsive Web Designe, Flexbox Layout)
                                            </li>
                                            <li>
                                                Native JavaScrit, ECMAScript 2015
                                            </li>
                                            <li>
                                                React JS, React Native
                                            </li>
                                            <li>
                                                IONIC Framework
                                            </li>
                                            <li>
                                                Angular JS
                                            </li>
                                            <li>
                                                Build Systems (Webpack, Babel, Gulp)
                                            </li>
                                            <li>
                                                Template Engine (Jade, Handlebars, Mustache, Swig)
                                            </li>
                                            <li>
                                                Librerias (jQuery, Bootstrap Twitter...)
                                            </li>
                                            <li>
                                                JSON (JavaScript Object Notation)
                                            </li>
                                            <li>
                                                Google APIs (maps, plus)
                                            </li>
                                            <li>
                                                Software architecture
                                            </li>
                                            <li>
                                                GIT, SVN, TFS
                                            </li>
                                        </ul>
                                        <div class="title">
                                            BackEnd
                                        </div>
                                        <ul class="list">
                                            <li>
                                                Node JS (Express Framework)
                                            </li>
                                            <li>
                                                Mongo DB
                                            </li>
                                            <li>
                                                MySQL
                                            </li>
                                            <li>
                                                Mongoose JS
                                            </li>
                                            <li>
                                                API Rest
                                            </li>
                                            <li>
                                                PHP
                                            </li>
                                        </ul>
                                        <div class="title">
                                            Bases de Datos
                                        </div>
                                        <ul class="list">
                                            <li>
                                                Mongo DB
                                            </li>
                                            <li>
                                                MySQL
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="sub-title">
                                    Redes
                                </div>
                                <ul class="list">
                                    <li>Redes LAN, WAN, VPN</li>
                                    <li>GNU/Linux, DHCP, DNS, Apache web server, Asterisk, Firewalls Proxy.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="main-title">
                            Idiomas
                        </div>
                        <ul class="list">
                            <li>
                                Español (Idioma natal)
                            </li>
                            <li>
                                Ingles Intermedio
                            </li>
                            <li>
                                Frances Básico
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </aricle>
</section>