.carrousel {
    border: solid;
}

.carrousel .carrousel-content {
	align-items: center;
	justify-content: center;
    width: auto;
    display: flex;
}

.carrousel .carrousel-content .carrousel-items {
	border: solid green;
	display: flex;
	flex-direction: column;
	width: 20%;
}

.carrousel .carrousel-content .carrousel-item {
    border: solid red;
    display: none;
    width: auto;
    height: 50px;
}

.carrousel .carrousel-content .carrousel-item.active {
	display: block;
}