 @page {
     size: auto;
     /* auto is the initial value */
     margin: 0mm;
     /* this affects the margin in the printer settings */
 }

 * {
     printer-colors: exact;
 }

 .container {
     background: cadetblue;
     display: flex;
     height: 100%;
     position: absolute;
 }

 .container .widget {
     background: cadetblue;
     color-adjust: exact;
     width: 35%;
     -webkit-print-color-adjust: exact;
 }

 .container .article .articleContent .banner {
     background: cadetblue;
     height: 30px;
     -webkit-print-color-adjust: exact;
     color-adjust: exact;
 }

 .container .widget .widgetContent .widgetInfo {
     color: whitesmoke !important;
     color-adjust: exact;
     margin: 20px 10px;
 }

 .container .widget .widgetContent .widgetInfo .list-info li ul.social li.c-3 {
     display: none;
 }

 .container .widget .widgetContent .widgetInfo ul>li {
     font-size: 13.5px;
 }

 .container .widget .widgetContent .widgetInfo ul.list-info {
     margin: 0;
 }

 .container .article .articleContent .experience ul {
     padding: 0 30px;
     width: 100%;
 }

 .container .article .articleContent .banner .icons-wrap {
     display: none;
 }

 .container .article .articleContent .experience {
     background: whitesmoke;
     border: solid transparent;
     border-radius: 1.5% 0 0;
 }

 .container .widget .widgetBanner .imageProfile .controls {
     display: none;
 }