body {
    --color: cadetblue;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.container {
    background: var(--color);
    display: flex;
}

.container .widget {
    background: var(--color);
    /*#282c34*/
    ;
    height: 100%;
    width: 25%;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.container.mobile .widget {
    width: 100%;
}

.container .article {
    /*background: var(--color);*/
    background: whitesmoke;
    width: 100%;
}

.container .widget,
.article {}

.container .widget .widgetContent .widgetInfo {
    /* align-items: center; */
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.container .widget .widgetContent .widgetInfo span {
    /* font-style: italic; */
}

.container .widget .widgetContent .widgetInfo .title {
    font-size: 20px;
    font-weight: 700;
}

.container .widget .widgetContent .widgetInfo ul {
    padding: 0;
}

.container .widget .widgetContent .widgetInfo ul>li {
    font-size: 15px;
    line-height: 1.6;
    list-style: none;
}

.container .widget .widgetContent .widgetInfo ul.line {
    width: 100%;
}

.container .widget .widgetContent .widgetInfo .list-info li ul {
    margin: 0 0 20px;
}

.container .widget .widgetContent .widgetInfo .list-info li ul.social li {
    align-items: center;
    display: flex;
}

.container .widget .widgetContent .widgetInfo .list-info li ul.social li span {
    margin: 0 10px 0;
}

.container .widget .widgetContent .widgetInfo .list-info li ul.social li span a {
    color: whitesmoke;
    text-decoration: none;
}

.container .widget .widgetContent .widgetInfo .list-info li .title {

    margin: 0 0 20px;
}

.container .widget .widgetContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.container .widget .widgetBanner {
    background: var(--color);
    /*#6d6d6d*/
    width: 100%;
}

.container .widget .widgetContent .name {
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
}

.container .widget .widgetContent .career {}

.container .widget .widgetBanner .imageProfile {
    align-items: center;
    background: var(--color);
    /*#6d6d6d*/
    display: flex;
    justify-content: center;
}

.container .widget .widgetBanner .imageProfile .controls {
    color: whitesmoke;
    cursor: pointer;
    opacity: 0.5;
}

.container .widget .widgetBanner .imageProfile .images {
    display: flex;
    flex-direction: column;
}

.container .widget .widgetBanner .imageProfile .image {
    display: none;
}

.container .widget .widgetBanner .imageProfile .image {
    background: url('./images/jramon_profile_00.jpeg') center no-repeat;
    background-size: contain;
    border-radius: 100%;
    height: 120px;
    margin: 13px 5px;
    width: 120px;
}


/*
.container 
.widget 
.widgetBanner 
.imageProfile
.image:nth-child(2) {
    background: url('   https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/17553511_1356563461071913_6269888617951617751_n.jpg?_nc_cat=0&oh=7eb0630e0b3231d7b7c3d41ee6bcfead&oe=5B3DD099') center no-repeat;
    background-size: contain;
    border-radius: 100%;
    height: 120px;
    margin: 13px;
    width: 120px;
}
*/

.container .widget .widgetBanner .imageProfile .image.active {
    display: block
}

.container .article .articleContent .banner {
    background: var(--color);
    color: #fff;
    /*display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 30px;*/
    width: 100%;
}

.container .article .articleContent .banner .icons-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 15px;
}

.container .article .articleContent .banner .icons-wrap .icons-left {
    cursor: pointer;
    visibility: hidden;
    font-size: 25px;
}

.container .article .articleContent .banner .icons-wrap .icons-left .bar::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Solid";
    display: none;
}

.container.mobile .article .articleContent .banner .icons-wrap .icons-left .bar::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Solid";
    display: none;
}

.container .article .articleContent .banner .icons-wrap .icons-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    /* width: 8%; */
}

.container .article .articleContent .banner .icons-wrap .icons-right .icon {
    cursor: pointer;
    margin: 0 8px;
}

.container .article .articleContent .banner .icons-wrap .icons-right .icon input[type="color"] {
    background: #fff;
    /*border-radius: 100%;*/
    cursor: pointer;
    /* height: 17px; */
    /*width: 13px;*/
}

.container .article .articleContent .banner .icons-right .rstColor {
    cursor: pointer;
    font-size: 11px;
}

.container .article .articleContent .banner .icons-right .lang {
    font-size: 10px;
    margin: 0px 10px 0 -5px;
}

.container .article .articleContent .experience {
    background: whitesmoke;
    border: solid transparent;
    /*border-radius: 1.5% 0 0;*/
}

.container .article .articleContent .experience ul {
    /*padding: 10px;*/
}

.container .article .articleContent .experience ul li {
    font-size: 15px;
    list-style: none;
    line-height: 1.7;
}

.container .article .articleContent .experience ul.list li:before {
    content: "o ";
    color: var(--color) !important;
}


.container .article .articleContent .experience ul li .main-title {
    color: var(--color);
    font-size: 20px;
    font-weight: 700;
}

.container .article .articleContent .experience ul li .sub-title {
    color: var(--color);
}

.container .article .articleContent .experience ul li .title {
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .container .widget {
        width: 0%;
    }
    .hm {
        display: none;
    }
    .container .article .articleContent .banner .icons-wrap .icons-left {
        visibility: visible;
    }
    .container .article .articleContent .banner .icons-wrap .icons-right {
        font-size: 23px;
    }
}

@media screen and (min-width: 768px) {
    .container .article .articleContent .banner .icons-wrap .icons-right .icon input[type="color"] {
        height: 17px;
    }
}